.albums-container a {
  text-decoration: none;
}

.album-info-container {
  align-items: center;
  background-color: var(--music-card-background-color);
  border-radius: 10px;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
  width: 290px;
}

.album-text-info {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
}

.album-text-info h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

.album-text-info h4 {
  font-size: 14px;
}

.album-img {
  width: 90%;
}
