.albums-container {
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.album-info-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 80vw;
  padding: 50px;
}

.album-text-info {
  grid-column: 2 / span 2;
}

.album-img {
  width: 50%;
}
