@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Slabo+27px&display=swap');

:root {
  --body-background-color: rgb(83, 83, 83);
  --header-background-color: rgb(38, 122, 124);
  --music-card-background-color: rgba(184, 187, 187, .40);

  --enabled-btn: #1b861b;
  --disabled-btn: #d33e28;
  --white: #d2d2d2;

  --bebas-neue: 'Bebas Neue', cursive;
  --questrial: 'Questrial', sans-serif;
  --slabo: 'Slabo 27px', serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background-color);
  background: url('./assets/img/background-body.png') repeat;
}

.main-container {
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 15px;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100vw;
}


button:disabled {
  background-color: var(--disabled-btn);
}

button {
  background-color: var(--enabled-btn);
  border: none;
  color: var(--white);
  cursor: pointer;
  font: 800 14px var(--questrial);
}


::placeholder {
  color: #a9a9a9;
  font-family: var(--questrial);
}

.main-container h2 {
  padding-bottom: 10px;
  color: var(--white);
  font: 400 32px var(--bebas-neue);
}
